/*  ******************************************************************  */
/*  **********  /src/components/HeaderComponent/responsive  **********  */
/*  ******************************************************************  */



@media (max-width: 1450px) {

    .container-logoCentral-tituloAplicacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 170px;
    }

    .logo-aplicacion-container {
        width: 100%;
        height: 85px;
    }

    .titulo-proyecto-container {
        width: 100%;
        height: 85px;
    }

    .titulo-proyecto-texto {
        font-size: 18px;
    }
}


@media (max-width: 785px) {

    .app-logo-react-container {
        width: 100px;
    }

    .react-link {
        margin-left: 25px;
    }

    .logo-aplicacion {
        width: 300px;
        height: 40px;
    }

    .titulo-proyecto-texto {
        font-size: 36px;
    }
}


@media (max-width: 635px) {

    .App-header {
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .app-logo-react-container {
        margin-right: 100px;
    }

    .logo-aplicacion {
        margin-top: 100px;
        height: 30px;
    }

    .titulo-proyecto-container {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .titulo-proyecto-texto {
        font-size: 18px;
    }
}


@media (max-width: 450px) {

    .titulo-proyecto-texto {
        font-size: 18px;
    }
}


@media (max-width: 330px) {

    .app-logo-react {
        /* display: flex; */
        width: 80px;
        height: 80px;
        font-size: 18px;
    }

    .titulo-proyecto-texto {
        font-size: 24px;
    }
}