/*  ********************************************************************************  */
/*  **********  /00-apps-react-pildorasinformaticas/src/styles/index.css  **********  */
/*  ********************************************************************************  */


@import './headerComponent.css';
@import './Navbarlink.css';
@import './logoReact.css';
@import './ejercicio-practico-1.css';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../../public/background.avif');
    background-size: cover;  /* Asegura que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-position: center center;  /* Centra la imagen */
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


h1, h2, h3, h4, h5, h6, p, ul, span {
    color: #666666;
    margin: 0;
    padding: 0;
}


/*  *********************************************************************  */

.App {
    text-align: center;
    width: 75%;
    margin: 10px auto;
}

hr {
    width: 90%;
    height: 5px;
}




.App-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* background-color: #282c34; */
    padding-bottom: 100px;
}


.component__container {
    width: 60%;
}




label {
    color: white;
}


/*  *****  Navegacion - Router  *****  */



/*  ***********************************  */





.titulo-contenido {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    /* margin-left: 100px; */
    /* margin-bottom: 20px; */
    background-color: #61dafb;
}

.titulo {
    /* margin-left: 600px;
  margin-top: 50px; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    /* color: #282c34; */
    /* color: white; */
}

.resultado {
    font-size: 24px;
    color: white;
}



/*  *****  Contador  *****  */
.contador {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contador-superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contador-inferior {
    margin-top: -40px;
}

.marcador-contador {
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
}

.btn-state,
.btn-ref,
.btn-contador,
.btn-reset,
.btn-conversor {
    min-width: 150px;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgb(153, 197, 241);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
        -4px -4px 10px rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;
}

.btn-state:hover,
.btn-ref:hover,
.btn-contador:hover,
.btn-reset:hover,
.btn-conversor:hover {
    background-color: rgb(119, 154, 189);
}


/*  *****  styled-components  *****  */

.styled-components {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/*  *****  app-memorizar-texto  *****  */

.app-memorizar-texto {
    width: 100%;
    min-height: 400px;
    background-color: #6D0C4F;
}

.memorizar__title {
    margin-bottom: 50px;
    font-size: 54px;
    color: #ffffff;   
}

.mostrar-parrafo {
    font-size: 36px;
    color: antiquewhite;
}
