/*  *********************************************************************  */
/*  **********  /src/components/HeaderComponent/logoReact.css  **********  */
/*  *********************************************************************  */


.app-logo-react {
  width: 120px;
  height: 120px;
  padding: 0;
  margin: 0;
  pointer-events: none;
  border-radius: 50%;
  margin-top: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .app-logo-react {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}